# Environnements virtuels Python (Backend & Scraping)
venv/
env/
__pycache__/
*.pyc

# Base de données locale Django
db.sqlite3

# Variables d'environnement
.env

# Migrations Django
api/migrations/

# Dossiers React (Frontend)
frontend/node_modules/
frontend/build/
.DS_Store

# Fichiers temporaires
*.log
