HEAD
dataset_IASD_complet.csv
__pycache__/
*.pyc
.env
venv/

# Environnements virtuels Python (Backend & Scraping)
venv/
env/
__pycache__/
*.pyc

# Base de données locale Django
db.sqlite3

# Variables d'environnement
.env

# Migrations Django
api/migrations/

# Dossiers React (Frontend)
frontend/node_modules/
frontend/build/
.DS_Store

# Fichiers temporaires
*.log
 2837e127b9ae2343c6dde73fee56029c5eb5cb7a
